<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LocalAddress" value=""/>
    <add key="RemoteAddress" value="224.100.0.1"/>
    <add key="LocalPort" value="9051"/>
    <add key="RemotePort" value="9050"/>
    <add key="TimeToLive" value="-9"/>
    <add key="DeviceInstanceStateLocation" value="E:\ImageAcquisition\DeviceInstance"/>
    <add key="DefaultDeviceInstanceStateResourceName" value="IADevState.dat"/>
  </appSettings>
  <connectionStrings>
    <add name="DBModelContainer" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DBServer-01;Initial Catalog=MESDB;Persist Security Info=True;User ID=MES;Password=M(S@OMSG.msft;MultipleActiveResultSets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
    <add name="ImageAcquisition.Persistency.RDBMS.Properties.Settings.ImageAcquisitionConnectionString"
      connectionString="Data Source=DBServer-01;Initial Catalog=MESDB;Persist Security Info=True;User ID=MES;Password=M(S@OMSG.msft"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>