<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ImageAcquisitionConnectionString" connectionString="Data Source=localhost;Initial Catalog=MESDB;Persist Security Info=True;User ID=MES;Password=M(S@OMSG.msft"
      providerName="System.Data.SqlClient" />
    <add name="DBModelContainer" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=MESDB;Persist Security Info=True;User ID=MES;Password=M(S@OMSG.msft;MultipleActiveResultSets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
    <add name="ImageAcquisition.Persistency.RDBMS.Properties.Settings.ImageAcquisitionConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=MESDB;Persist Security Info=True;User ID=MES;Password=M(S@OMSG.msft"
      providerName="System.Data.SqlClient" />
    <add name="ApplicationServices"
         connectionString="Integrated Security=false;data source=localhost;initial catalog=mesdb;user id=MES;password=M(S@OMSG.msft;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880">
      </forms>
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="MESCloud" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="MESCloud"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="MESCloud" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="MESCloud" />
      </providers>
    </roleManager>
  </system.web>
  
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<security>
      <access sslFlags="SslRequireCert"/>
    </security>-->
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="MESCloudBinding">
          <!--<security mode="Transport">
          <transport clientCredentialType="Certificate"/>
        </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="MESCloud.Services.MESService" behaviorConfiguration="MESCloudBehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RestBehavior" bindingConfiguration="MESCloudBinding" contract="MESCloud.Services.IMESService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MESCloudBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="MES.Security.Authorization.ExtendedServiceAuthorizationManager,MES.Security"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="MESCloudTraceSource" switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing">
        <listeners>
          <remove name="Default"/>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messages-mes-cloud-trace.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>